<h1>Contact Me</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address </h3>
    <p>324 E Wisconsin Ave</p>
    <h3>Phone</h3>
    <p><%= number_to_phone "4143344472" %></p>
    <h3>Email</h3>
    <p><a href="mailto:cbussen7@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.1136523082832!2d-87.90924034874972!3d43.03904017904486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880519a77b8b1349%3A0x8ddfb957a2c68178!2s324%20E%20Wisconsin%20Ave%2C%20Milwaukee%2C%20WI%2053202!5e0!3m2!1sen!2sus!4v1625246070797!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
