<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quibusdam, aliquid nesciunt similique est natus a labore, nobis delectus aut error?</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
